<!DOCTYPE html>
<html>
<head>
  <title>Paint!</title>
  <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "header" %>

  <% flash.each do |name, message| %>
    <div class="alert alert-info alert-<%= name %>" role="alert">
      <%= message %>
    </div>  
  <% end %>

  <main class="container">
    <div class="large-12 columns">
      <%= yield %>
    </div>
  </main>

  <footer class="container">
    <nav>
      <ol class="breadcrumb">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", paintings_path %></li>
        <li><a href="">Contact</a></li>
        <li>&copy; 2015</li>
      </ol>
    </nav>
  </footer>
</body>
</html>